# Nuxt/Nitro
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
# CDK/Terraform Stuff
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
# Yarn/Node Deps
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions